{% extends 'base.html' %}
{% block content %}
<h1>
    Hello guys! You came to BookWorld
</h1>
<div class = "review-form">
    <h2>
        make review
    </h2>
    <form method = "POST">
    {% csrf_token %}
        
        {{ form.as_p }}
        <p>
            <input type = "submit" value = "keep the review">
        </p>
    </form>
</div>
<div class = "reviews">
    <h2>
        all reviews
    </h2>
    {%for review in reviews%}
    <p class = "user">
        <em>
            {{review.name}}
        </em>
    </p>
    <p class = "review-text">
        отзев:{{review.review}}
    </p>
    <p class = "rating">
        оценка:{{review.rating}}/10
    </p>
    <hr> {%endfor%}
</div>
{% endblock %}
